<h1>Inventory#show</h1>
<p>Find me in app/views/inventory/show.html.erb</p>


<div id="Product(s) Updated">


<% if @inventories.blank? %>
<p>You have no product</p>
<% else %>
<p>Your current product(s) in the system</p>
<ul id = "inventory">
    <% @inventories.each do |c|%>
    <li><%= link_to c.name, {:action => 'show'} %></li>
    <% end %>
</ul>
<% end %>
<p> link_to "Add New Products", inventory_add_path</p>

    
    
</div>