<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | MY Insta_shop</title> 
  </head>
  <body>
    <h1>Home</h1>
    <p>
      This is the home page.
    </p>
  </body>
</html>