<h1>Your List of Orders</h1>

<% if @orders.blank? %>
  <p>You have no orders</p>
<% else %>
  <p>Your current order(s) in the system</p>
<%= will_paginate %>
<ul class="orders">
  <% @orders.each do |order| %>
    <li>
      <%= link_to order.customer_name, order %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
<% end %>

