<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href = "/ ">iJual</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        
        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Dropdown 
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><%= link_to edit_user_registration_path do %>Edit My Profile<% end %></li>
                <li><%= link_to destroy_user_session_path, method: :delete do %>Logout<% end %></li>
            </ul>
          </li>
        </ul>
        <% else %>
          <!--user not signed in-->
          <ul class="nav navbar-nav navbar-right">
            <%= link_to new_user_session_url, class: "btn btn-primary login-btn" do %>Log in<% end %>
          </ul>
        <% end %>
         
        
      
    </div>
  </div>
</nav>

<style>
  
  .login-btn{
    margin-top:10px;
  }
  
</style>